﻿@model IEnumerable<Kryazhev.Models.Lodger>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="SquereFilter" asp-route-_squere="20">Площадь больше 20м2</a>
</p>


<ejs-grid id="Index-Table"
          dataSource="@Model"
          allowFiltering="true"
          allowSorting="true" 
          allowPaging="true"
          toolbar="@(new List<string>() { "Search"})"
          width="100%"
          rowTemplate="#rowtemplate">
    <e-grid-pagesettings pageSizes="true">
    </e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column headerText="Действия" width="200"></e-grid-column>
        <e-grid-column field="Id" headerText="Id" textAlign="Right" width="300"></e-grid-column>
        <e-grid-column field="FIO" headerText="FIO" textAlign="Right" width="300"></e-grid-column>
        <e-grid-column field="Pnohe" headerText="Pnohe" textAlign="Right" width="300"></e-grid-column>
        <e-grid-column field="Square" headerText="Square" textAlign="Right" width="300"></e-grid-column>
        <e-grid-column headerText="Home" textAlign="Right" width="300"></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script id="rowtemplate" type="text/x-template">
    <tr>
        <td width="300px">
            <a class="btn" href="@(Url.Action("Edit"))/${Id}" title="Редактировать">Edit</a>
            <a class="btn" href="@(Url.Action("Delete"))/${Id}" title="Удалить" onclick="confirmRemove(this, event)">Delete</a>
        </td>
        <td>${Id}</td>
        <td>${FIO}</td>
        <td>${Pnohe}</td>
        <td>${Square}</td>
        <td>${Home.District} ${Home.Address} ${Home.LoftNumber} </td>
    </tr>
</script>